/* -------- Generic Part --------- */

.no-padding > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

ul{
  list-style: none;
  padding: 0;
}

/* -------- Header Part --------- */

header{

  height: 300px;
  border: red 1px solid;

  >ul{
    height: 100%;
    border: blue 1px solid;

    li{
      height: 100%;
      border: green 1px solid;
    }

    .Li01_Header.Left{

      nav{
        width: 100%;
        height: 100%;

        ul{
          .Li02_Header{
            height: 75px;
          }
        }
      }
    }

    .Li01_Header.Right{
      div{
        text-align: center;
        height: 150px;
        line-height: 150px;
        margin-top: 75px;
        border: blue 1px solid;
      }

      .Div01_Header.Left{
        h2{
          display: inline;
        }
      }
    }
  }
}

/* -------- Section Part --------- */

section{
  .CarrousselContent{
    height: 500px;
    border: purple 2px solid;
    margin-bottom: 25px;
  }

  .NewsContent{

    .CenterNews{
      margin: auto;
      font-size: 1.2em;

      .TitlePart{
        margin-bottom: 60px;
        h2{
          font-size: 1.8em;
          font-weight: 600;
        }
      }

      ul{

        height: 150px;

        li{
          height: 100%;
        }

        .TimeNewsContent{
          text-align: right;
        }

        .PictureNewsContent{
          padding-left: 10px;
          padding-right: 10px;

          /*---- Provisoire ----*/
          div{
            border: 1px yellow dashed;
            width: 80%;
            height: 80%;
            margin: auto;
          }
          /*---- ----*/
        }

        .ParaNewsContent{
          text-align: justify;
          height: 130px;
          line-height: 130px;

          p{
            line-height: normal;
          }
        }
      }

      .NewsSepar{
        height: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 50px 0;
      }
    }
  }
}

/* -------- Footer Part --------- */

footer{
  background-color: #2C3E50;
  height: 150px;
  .FooterCenter{

    div{
      margin-left: 5px;
      margin-right: 5px;
    }

    .FooterContent{
      margin-top: 15px;
      padding-top: 30px;
      height: 120px;
      color: #ECF0F1;
    }

    .FooterContent.Left{
      ul{
        height: 100%;
        line-height: 120px;

        li{
          line-height: normal;
        }
      }
    }

    .FooterContent.Middle{
      text-align: center;
    }

    .FooterContent.Right{
      padding: 45px 15px 0 15px;
      text-align: center;
    }
  }
}

/*----- Media Queries Part -----*/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
  .Li01_Header.Right{
    display: none;
  }
}

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .midLogotypeXs{
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .midLogotypeXs{
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .midLogotypeXs{
    display: none;
  }
}

